name: CI/CD Pipeline for ML Model

on:
  push:
    branches:
      - main
    paths:
      - '**.py'
      - 'data/**'
  pull_request:
    branches:
      - main

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.12

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Set permissions for mlruns
      run: |
        mkdir -p ./mlruns
        chmod -R 777 ./mlruns

    - name: Run ML pipeline
      run: python pipeline.py

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: docker build -t rbenfraj46/insurance_model:latest .

    - name: Push Docker image to Docker Hub
      run: docker push rbenfraj46/insurance_model:latest
